{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My Django App</title>
    <link rel="stylesheet" href="{% static 'me/style.css' %}">
</head>
<body>
    <div class="main">
        <div class="parent">
            <div class="div1"></div>
            <div class="div2"><a href="/projects.html">Projects</a></div>
            <div class="div3"><a href="#">Contact</a></div>
            <div class="div4"><a href="#">CV</a></div>
            <div class="div5"><a href="#">Contact</a></div>
        </div>
    </div>
</body>
</html>